{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block content %}

<h1>Mon compte</h1>
Bienvenue {{app.user.firstname}} dans votre espace membre.
<hr>

    - <a href="{{ path('app_account_password') }}">modifier mon mot de passe</a><br/>
    - Ajouter mes adresses<br/>
    - Mes commandes<br/>
<hr>

{% endblock %}
