{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}

<h1>Modifier mon mot de passe</h1>
Bienvenue {{app.user.firstname}} dans votre espace membre.
<hr>

    - <a href="{{ path('app_account') }}">retour à mon compte</a><br/>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }} </div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}
