{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block content %}

<h1>Inscription</h1>

{% if notification %}
    <div class="alert alert-info">
        {{ notification }}
    </div>
{% endif %}

{{ form(form) }}


{% endblock %}
