{% extends 'base.html.twig' %}

{% block title %}Page introuvable - La boutique française{% endblock %}

{% block content %}
<div class="block-small">
    <h2>Page introuvable</h2>
    <p>Désolé, cette page semble inaccessible pour le moment.</p>
    <a href="{{ path('app_home') }}" class="btn btn-info">Revenir à l'accueil</a>
</div>
{% endblock %}
